
<html>
<head>
    <title>{{title}}</title>
    <h1 style="width=100%; height=auto; margin=auto; align-items=center;">Spring Kotlin API를 공부하기 위한 사이트 입니다.</h1>
</head>
<body>
<h2>Entity</h2>
<p> - {{entity}}</p>
</body>
</html>